{%- assign default_paths = site.html_pages | map: 'path' -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
  <div class="menu">
    <a href="{{site.url}}{{site.baseurl}}"><h1>Cool Dad Productions</h1></a>
  </div>
  <div class="social-links">
    <ul>
    {% for social in site.social %}
      {% if social.url %}
          <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}">
            <i class="fa-brands fa-{{ social.icon }}"></i>
          </a>
          &nbsp;
      {% endif %}
    {% endfor %}
    </ul>
  </div>

</header>
